# Dependencies
node_modules/
package-lock.json

# Environment Secrets
.env
*.env.local

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Backup files
*.bak*

# Android Build Outputs & Gradle Cache
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
public_html/download/*.apk
scratch/
