PORT=3000
OTP_SECRET=SNACKPOS_MASTER_OTP_SECRET_KEY_2026
RESEND_API_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false
TRIPAY_PRIVATE_KEY=
SUPABASE_URL=http://127.0.0.1:8000
SUPABASE_SERVICE_ROLE_KEY=
